<aside role="dialog"
       id="a2hs-ios-guide"
       class="cs-pwa-notification cs-pwa-notification--ios-guide modal-<%- data.type %> <%- data.modalClass %>
       <% if(data.responsive){ %><%- data.responsiveClass %><% } %>
       <% if(data.innerScroll){ %><%- data.innerScrollClass %><% } %>"
       <% if(data.title){ %> aria-labelledby="modal-title-<%- data.id %>"<% } %>
       aria-describedby="modal-content-<%- data.id %>"
       data-role="modal"
       data-type="<%- data.type %>"
       tabindex="0">
    <div data-role="focusable-start" tabindex="0"></div>
    <div class="modal-inner-wrap"
         data-role="focusable-scope">
        <div class="modal-text-content">
            <header class="modal-header">
                <% if(data.title || data.subTitle){ %>
                <p id="modal-title-<%- data.id %>" class="cs-pwa-notification__title"
                    data-role="title">
                    <% if(data.title){ %>
                        <%= data.title %>
                    <% } %>
                </p>
                <% } %>
            </header>
            <div id="modal-content-<%- data.id %>" class="cs-pwa-notification__title__content">
                <span class="cs-pwa-notification__title__content-text" data-role="content"></span>
            </div>
        </div>
        <% if(data.buttons.length > 0){ %>
            <footer class="cs-pwa-notification__footer">
                <% _.each(data.buttons, function(button) { %>
                <button class="cs-pwa-notification__close-button"
                        type="button"
                        data-role="action">
                    <% if(button.showButtonIcon && button.iconPath.length){ %>
                        <img class="inline-svg cs-pwa-notification__button-icon" src="<%- button.iconPath %>" alt="<%= button.text %>">
                    <% } %>
                    <span class="<%- button.textClass %>"><%= button.text %></span>
                </button>
                <% }); %>
            </footer>
        <% } %>
    </div>
    <div data-role="focusable-end" tabindex="0"></div>
</aside>
