<!--
/**
 * Based on Modal custom template
 */
-->

<aside role="dialog"
       class="cs-pwa-notification modal-<%- data.type %> <%- data.modalClass %>
       <% if(data.responsive){ %><%- data.responsiveClass %><% } %>
       <% if(data.innerScroll){ %><%- data.innerScrollClass %><% } %>"
       <% if(data.title){ %> aria-labelledby="modal-title-<%- data.id %>"<% } %>
       aria-describedby="modal-content-<%- data.id %>"
       data-role="modal"
       data-type="<%- data.type %>"
       tabindex="0">
    <div data-role="focusable-start" tabindex="0"></div>
    <div class="modal-inner-wrap"
         data-role="focusable-scope">
        <header class="modal-header">
            <% if(data.title || data.subTitle){ %>
            <h1 id="modal-title-<%- data.id %>" class="cs-pwa-notification__title"
                data-role="title">
                <% if(data.title){ %>
                    <%= data.title %>
                <% } %>

                <% if(data.subTitle){ %>
                <span class="cs-pwa-notification__subtitle"
                      data-role="subtitle">
                    <%= data.subTitle %>
                </span>
                <% } %>
            </h1>
            <% } %>
            <button
                class="action-close"
                data-role="closeBtn"
                type="button">
                <span><%= data.closeText %></span>
            </button>
        </header>
        <div id="modal-content-<%- data.id %>" class="cs-pwa-notification__content" data-role="content"></div>
        <% if(data.buttons.length > 0){ %>
        <footer class="cs-pwa-notification__footer">
            <% _.each(data.buttons, function(button) { %>
            <button class="cs-pwa-notification__button"
                    type="button"
                    data-role="action">
                <span><%= button.text %></span>
            </button>
            <% }); %>
        </footer>
        <% } %>
    </div>
    <div data-role="focusable-end" tabindex="0"></div>
</aside>
