<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pwa>
            <general>
                <is_enabled>false</is_enabled>
                <display_mode>minimal-ui</display_mode>
                <background_color>#FFFFFF</background_color>
                <theme_color>#FFFFFF</theme_color>
                <debug_mode_is_enabled>false</debug_mode_is_enabled>
            </general>
        </pwa>
    </default>
</config>
