<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="pwaResultPage" type="Magento\Framework\View\Result\Page">
        <arguments>
            <argument name="template" xsi:type="string">MageSuite_Pwa::root.phtml</argument>
        </arguments>
    </virtualType>
    <virtualType name="pwaResultPageFactory" type="Magento\Framework\View\Result\PageFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">pwaResultPage</argument>
        </arguments>
    </virtualType>

    <type name="MageSuite\Pwa\Controller\Manifest\Index">
        <arguments>
            <argument name="resultPageFactory" xsi:type="object">pwaResultPageFactory</argument>
        </arguments>
    </type>
    <type name="MageSuite\Pwa\Controller\ServiceWorker\Index">
        <arguments>
            <argument name="resultPageFactory" xsi:type="object">pwaResultPageFactory</argument>
        </arguments>
    </type>
</config>
