
<!doctype html>
<html lang="de-DE">
    <head prefix="og: http://ogp.me/ns#">
        <!--
        # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
        #                                                                                       #
        #        Dieser PWA app wurde von der Agentur www.creativestyle.de umgesetzt            #
        #                                                                                       #
        # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
        -->
        <meta name="title" content="PWA Installation guide | NKD"/>
        <meta name="robots" content="INDEX,FOLLOW"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="format-detection" content="telephone=no"/>
        <title>PWA Installation guide  | NKD</title>

        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
        <meta name="theme-color" content="#FFFFFF"/>
        <link rel="manifest" href="https://mcstaging.nkd.com/de_de/manifest.json" crossorigin="use-credentials"/>

        <link  rel="stylesheet" type="text/css"  media="all" href="https://mcstaging.nkd.com/static/version1696240336/_cache/merged/f797eb35b12b7c22ecbeaf816c29392a.min.css" />

        <link  rel="icon" type="image/x-icon" href="https://mcstaging.nkd.com/media/favicon/default/icon-128x128.png" />
        <link  rel="shortcut icon" type="image/x-icon" href="https://mcstaging.nkd.com/media/favicon/default/icon-128x128.png" />

        <link  rel="apple-touch-icon" sizes="180x180" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/apple-touch-icon.png" />
        <link  rel="icon" type="image/png" sizes="32x32" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/favicon-32x32.png" />
        <link  rel="icon" type="image/png" sizes="16x16" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/favicon-16x16.png" />

        <link  rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_14_Pro_Max_landscape.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_14_Pro_landscape.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_11__iPhone_XR_landscape.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_14_Pro_Max_portrait.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_14_Pro_portrait.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_11__iPhone_XR_portrait.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png" />
        <link  rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/Magento_Theme/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png" />
    </head>
    <body class="pwa-guide-landingpage">
        <div class="page-wrapper">
            <header class="page-header"><div class="header content cs-header">
                <div class="logo cs-header__logo">
                    <img class=""
                        src="https://mcstaging.nkd.com/static/version1696240336/frontend/Creativestyle/theme-nkdpwa/de_DE/images/logo.svg"
                        alt="NKD&#x3A;&#x20;Staunen.&#x20;Sparen.&#x20;Sch&#xF6;ner&#x20;leben."
                        width="80"        
                        height="24" />
                </div>
                <div class="cs-pwa-guide__tabs-wrapper">
                    <span class="cs-pwa-guide__tabs-item cs-pwa-guide__tabs-item--installation cs-pwa-guide__tabs-item__active" data-section="installation">
                        Wie installieren?
                    </span> 
                    <span class="cs-pwa-guide__tabs-item cs-pwa-guide__tabs-item--benefits" data-section="benefits">
                        Vorteile
                    </span>
                </div>
            </header>

            <main id="maincontent">
                <div class="columns">
                    <div class="column main">
                        <div class="cs-pwa-guide__content-wrapper">
                            <div id="installation"></div>
                            <div class="cs-pwa-guide__content cs-pwa-guide__content--installation active">
                                <div class="cs-pwa-guide__content-installation cs-pwa-guide__content-installation--ios">
                                    <div class="cs-container cs-container--headline cs-container--default">
                                        <div class="cs-container__inner">
                                            <div class="cs-headline ">
                                                <h3 class="cs-headline__title">Wie installiert man unsere App?</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cs-container cs-container--image-teaser">
                                        <div class="cs-container__inner">
                                            <div class="cs-image-teaser cs-image-teaser--items-in-row-1 cs-image-teaser--items-in-row-mobile-1 cs-image-teaser--content-over cs-image-teaser--container-width">
                                                <div class="cs-image-teaser__slides-wrapper">
                                                    <ul class="cs-image-teaser__slides cs-image-teaser__slides ">
                                                        <li class="cs-image-teaser__slide cs-image-teaser__slide--scheme-dark cs-image-teaser__slide--image-uploaded cs-image-teaser__slide--button-default">
                                                            <figure class="cs-image-teaser__figure">
                                                                <picture class="cs-image-teaser__picture" style="aspect-ratio: 313/171">
                                                                    <img 
                                                                        class="cs-image-teaser__image" 
                                                                        alt="Tippen Sie auf das Symbol Teilen am unteren Rand der Leiste"
                                                                        src="https://mcstaging.nkd.com/media/wysiwyg/pwa_guide/img1_2x.png"
                                                                        width="626"
                                                                        height="342" />
                                                                </picture>
                                                                <figcaption class="cs-image-teaser__content-wrapper cs-image-teaser__content-wrapper--content-align-x-1  cs-image-teaser__content-wrapper--content-align-y-1 cs-image-teaser__content-wrapper--over ">
                                                                    <div class="cs-image-teaser__content">
                                                                        <div class="cs-image-teaser__text-content">
                                                                            <p class="cs-image-teaser__slogan">Tippen Sie auf das Symbol "Teilen" <span class="cs-pwa-guide-icon cs-pwa-guide-icon__ios"></span> am unteren Rand der Leiste</p>
                                                                        </div>    
                                                                    </div>
                                                                </figcaption>
                                                            </figure>
                                                        </li>
                                                        <li class="cs-image-teaser__slide cs-image-teaser__slide--scheme-dark cs-image-teaser__slide--image-uploaded cs-image-teaser__slide--button-default">
                                                            <figure class="cs-image-teaser__figure">
                                                                <picture class="cs-image-teaser__picture" style="aspect-ratio: 62/87">
                                                                    <img
                                                                        class="cs-image-teaser__image"
                                                                        alt="Scrollen Sie auf dem unteren Blatt nach unten, bis Sie die Option Zum Startbildschirm hinzufügen sehen"
                                                                        src="https://mcstaging.nkd.com/media/wysiwyg/pwa_guide/img2_de_2x.png"
                                                                        width="496"
                                                                        height="696" />
                                                                </picture>
                                                                <figcaption class="cs-image-teaser__content-wrapper cs-image-teaser__content-wrapper--content-align-x-1 cs-image-teaser__content-wrapper--content-align-y-1 cs-image-teaser__content-wrapper--over ">
                                                                    <div class="cs-image-teaser__content">
                                                                        <div class="cs-image-teaser__text-content">
                                                                            <p class="cs-image-teaser__slogan">Scrollen Sie auf dem unteren Blatt nach unten, bis Sie die Option "Zum Startbildschirm hinzufügen" sehen</p>
                                                                        </div>
                                                                    </div>
                                                                </figcaption>
                                                            </figure>
                                                        </li>
                                                        <li class="cs-image-teaser__slide cs-image-teaser__slide--scheme-dark cs-image-teaser__slide--image-uploaded cs-image-teaser__slide--button-default">
                                                            <figure class="cs-image-teaser__figure">
                                                                <picture class="cs-image-teaser__picture" style="aspect-ratio: 128/113">
                                                                    <img
                                                                        class="cs-image-teaser__image"
                                                                        alt="Tippen Sie auf die Schaltfläche Zum Home-Bildschrim"
                                                                        src="https://mcstaging.nkd.com/media/wysiwyg/pwa_guide/img3_de_2x.png"
                                                                        width="512"
                                                                        height="452" />
                                                                </picture>
                                                                <figcaption class="cs-image-teaser__content-wrapper cs-image-teaser__content-wrapper--content-align-x-1  cs-image-teaser__content-wrapper--content-align-y-1 cs-image-teaser__content-wrapper--over ">
                                                                    <div class="cs-image-teaser__content">
                                                                        <div class="cs-image-teaser__text-content">
                                                                            <p class="cs-image-teaser__slogan">Tippen Sie auf die Schaltfläche "Zum Home-Bildschrim".</p>
                                                                        </div>
                                                                    </div>
                                                                </figcaption>
                                                            </figure>
                                                        </li>
                                                        <li class="cs-image-teaser__slide cs-image-teaser__slide--scheme-dark cs-image-teaser__slide--image-uploaded cs-image-teaser__slide--button-default">
                                                            <figure class="cs-image-teaser__figure">
                                                                <picture class="cs-image-teaser__picture" style="aspect-ratio: 248/525">
                                                                    <img
                                                                        class="cs-image-teaser__image"
                                                                        alt="Tippen Sie auf Hinzufügen und suchen Sie Ihre App auf Ihrem Startbildschirm, wo die anderen Apps sind."
                                                                        src="https://mcstaging.nkd.com/media/wysiwyg/pwa_guide/img4a_de_2x.png"
                                                                        width="496"
                                                                        height="1050" />
                                                                </picture>
                                                                <figcaption class="cs-image-teaser__content-wrapper cs-image-teaser__content-wrapper--content-align-x-1  cs-image-teaser__content-wrapper--content-align-y-1 cs-image-teaser__content-wrapper--over ">
                                                                    <div class="cs-image-teaser__content">
                                                                        <div class="cs-image-teaser__text-content">
                                                                            <p class="cs-image-teaser__slogan">Tippen Sie auf "Hinzufügen" und suchen Sie Ihre App auf Ihrem Startbildschirm, wo die anderen Apps sind.</p>
                                                                        </div>
                                                                    </div>
                                                                </figcaption>
                                                            </figure>
            
                                                        </li>
                                                        <li class="cs-image-teaser__slide cs-image-teaser__slide--scheme-dark cs-image-teaser__slide--image-uploaded cs-image-teaser__slide--button-default">
                                                            <figure class="cs-image-teaser__figure">
                                                                <picture class="cs-image-teaser__picture" style="aspect-ratio: 248/525">
                                                                    <img
                                                                        class="cs-image-teaser__image "
                                                                        alt="Teaser image"
                                                                        src="https://mcstaging.nkd.com/media/wysiwyg/pwa_guide/img4b_2x.png"
                                                                        width="496"
                                                                        height="1050">
                                                                </picture>
                                                            </figure>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cs-pwa-guide__content-installation cs-pwa-guide__content-installation--android">
                                    <div class="cs-container cs-container--image-teaser">
                                        <div class="cs-container__inner">
                                            <div class="cs-image-teaser cs-image-teaser--items-in-row-1 cs-image-teaser--items-in-row-mobile-1 cs-image-teaser--content-over                                                           cs-image-teaser--container-width">
                                                <div class="cs-image-teaser__slides-wrapper">
                                                    <ul class="cs-image-teaser__slides cs-image-teaser__slides ">
                                                        <li class="cs-image-teaser__slide cs-image-teaser__slide--scheme-dark cs-image-teaser__slide--image-uploaded cs-image-teaser__slide--button-default">
                                                            <figure class="cs-image-teaser__figure">
                                                                <picture class="cs-image-teaser__picture" style="aspect-ratio: 356/147">
                                                                    <img
                                                                        class="cs-image-teaser__image "
                                                                        alt="Einstellungen öffnen. Klicken Sie auf das Menüsymbol (normalerweise ) auf der rechten Seite der Adressleiste."
                                                                        src="https://mcstaging.nkd.com/media/wysiwyg/pwa_guide/img_1b_en_2x.png"
                                                                        width="712"
                                                                        height="294" />
                                                                </picture>
                                                                <figcaption class="cs-image-teaser__content-wrapper cs-image-teaser__content-wrapper--content-align-x-1  cs-image-teaser__content-wrapper--content-align-y-1 cs-image-teaser__content-wrapper--over ">
                                                                    <div class="cs-image-teaser__content">
                                                                        <div class="cs-image-teaser__text-content">
                                                                            <p class="cs-image-teaser__slogan">Einstellungen öffnen. Klicken Sie auf das Menüsymbol (normalerweise <span class="cs-pwa-guide-icon cs-pwa-guide-icon__android"></span>) auf der rechten Seite der Adressleiste.</p>
                                                                        </div>
                                                                    </div>
                                                                </figcaption>
                                                            </figure>
                                                        </li>
                                                        <li class="cs-image-teaser__slide cs-image-teaser__slide--scheme-dark cs-image-teaser__slide--image-uploaded cs-image-teaser__slide--button-default">
                                                            <figure class="cs-image-teaser__figure">
                                                                <picture class="cs-image-teaser__picture" style="aspect-ratio: 50/103">
                                                                    <img
                                                                        class="cs-image-teaser__image "
                                                                        alt="Wählen Sie die Option Anwendung installieren. Die Installation kann ein paar Sekunden dauern."
                                                                        src="https://mcstaging.nkd.com/media/wysiwyg/pwa_guide/img_1c_en_2x.png"
                                                                        width="500"
                                                                        height="1030" />
                                                                </picture>
                                                                <figcaption class="cs-image-teaser__content-wrapper cs-image-teaser__content-wrapper--content-align-x-1  cs-image-teaser__content-wrapper--content-align-y-1 cs-image-teaser__content-wrapper--over ">
                                                                    <div class="cs-image-teaser__content">
                                                                        <div class="cs-image-teaser__text-content">
                                                                            <p class="cs-image-teaser__slogan">Wählen Sie die Option "Anwendung installieren". Die Installation kann ein paar Sekunden dauern.</p>
                                                                        </div>
                                                                    
                                                                    </div>
                                                                </figcaption>
                                                            </figure>
                                                        </li>
                                                        <li class="cs-image-teaser__slide cs-image-teaser__slide--scheme-dark cs-image-teaser__slide--image-uploaded cs-image-teaser__slide--button-default">
                                                            <figure class="cs-image-teaser__figure">
                                                                <picture class="cs-image-teaser__picture" style="aspect-ratio: 127/244">
                                                                    <img
                                                                        class="cs-image-teaser__image "
                                                                        alt="Erledigt! Jetzt können Sie Ihre App auf dem Startbildschirm finden, wo auch die anderen Apps sind."
                                                                        src="https://mcstaging.nkd.com/media/wysiwyg/pwa_guide/img_2_en-de-pl_2x.png"
                                                                        width="508"
                                                                        height="976" />
                                                                </picture>
                                                                <figcaption class="cs-image-teaser__content-wrapper cs-image-teaser__content-wrapper--content-align-x-1  cs-image-teaser__content-wrapper--content-align-y-1 cs-image-teaser__content-wrapper--over ">
                                                                    <div class="cs-image-teaser__content">
                                                                        <div class="cs-image-teaser__text-content">
                                                                            <p class="cs-image-teaser__slogan">Erledigt! Jetzt können Sie Ihre App auf dem Startbildschirm finden, wo auch die anderen Apps sind.</p>
                                                                        </div>
                                                                    
                                                                    </div>
                                                                </figcaption>
                                                            </figure>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="benefits"></div>
                            <div class="cs-pwa-guide__content cs-pwa-guide__content--benefits">
                                <div class="cs-container cs-container--headline cs-container--default">
                                    <div class="cs-container__inner">
                                        <div class="cs-headline ">
                                            <h3 class="cs-headline__title">Schalten Sie die Vorteile unserer App frei</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="cs-container cs-container--image-teaser  ">
                                    <div class="cs-container__inner">
                                        <div class="cs-image-teaser cs-image-teaser--items-in-row-1 cs-image-teaser--items-in-row-mobile-1 cs-image-teaser--content-over cs-image-teaser--container-width">
                                            <div class="cs-image-teaser__slides-wrapper">
                                                <ul class="cs-image-teaser__slides cs-image-teaser__slides ">
                                                    <li class="cs-image-teaser__slide cs-image-teaser__slide--scheme-dark cs-image-teaser__slide--image-uploaded cs-image-teaser__slide--button-default">
                                                        <figure class="cs-image-teaser__figure">
                                                            <picture class="cs-image-teaser__picture" style="aspect-ratio: 136/151">
                                                                <img
                                                                    class="cs-image-teaser__image "
                                                                    alt="Erhalten Sie Benachrichtigungen über den Lieferstatus Ihrer Bestellung"
                                                                    src="https://mcstaging.nkd.com/media/wysiwyg/pwa_guide/benefit_1_2x.png"
                                                                    width="544"
                                                                    height="604" />
                                                            </picture>
                                                            <figcaption class="cs-image-teaser__content-wrapper cs-image-teaser__content-wrapper--content-align-x-1  cs-image-teaser__content-wrapper--content-align-y-1 cs-image-teaser__content-wrapper--over ">
                                                                <div class="cs-image-teaser__content">                                    
                                                                    <div class="cs-image-teaser__text-content">
                                                                        <p class="cs-image-teaser__slogan">Erhalten Sie Benachrichtigungen über den Lieferstatus Ihrer Bestellung</p>
                                                                        <p class="cs-image-teaser__description">Bleiben Sie auf dem Laufenden über den Fortschritt Ihres Pakets. Verpassen Sie keine Minute, wenn Ihre Bestellung zur Abholung bereit ist, und bleiben Sie bei jedem Schritt informiert.</p>
                                                                    </div>                    
                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                    </li>
                                                    <li class="cs-image-teaser__slide cs-image-teaser__slide--scheme-dark cs-image-teaser__slide--image-uploaded cs-image-teaser__slide--button-default">
                                                        <figure class="cs-image-teaser__figure">
                                                            <picture class="cs-image-teaser__picture" style="aspect-ratio: 107/74">
                                                                <img
                                                                    class="cs-image-teaser__image "
                                                                    alt="Sehen Sie spezielle Angebote, die nur in der App verfügbar sind!"
                                                                    src="https://mcstaging.nkd.com/media/wysiwyg/pwa_guide/benefit_2_2x.png"
                                                                    width="856"
                                                                    height="592" />
                                                            </picture>
                                                            <figcaption class="cs-image-teaser__content-wrapper cs-image-teaser__content-wrapper--content-align-x-1  cs-image-teaser__content-wrapper--content-align-y-1 cs-image-teaser__content-wrapper--over ">
                                                                <div class="cs-image-teaser__content">                                       
                                                                    <div class="cs-image-teaser__text-content">
                                                                        <p class="cs-image-teaser__slogan">Sehen Sie spezielle Angebote, die nur in der App verfügbar sind!</p>
                                                                        <p class="cs-image-teaser__description">Profitieren Sie von Sonderangeboten und sparen Sie bei Ihren Einkäufen mit nur wenigen Fingertipps auf Ihrem Bildschirm. Seien Sie immer einen Schritt voraus und verpassen Sie nicht diese zeitlich begrenzten Rabatte, die nur für Sie bestimmt sind.</p>
                                                                    </div>                    
                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                
                                                    </li>
                                                    <li class="cs-image-teaser__slide cs-image-teaser__slide--scheme-dark cs-image-teaser__slide--image-uploaded cs-image-teaser__slide--button-default">
                                                        <figure class="cs-image-teaser__figure">
                                                            <picture class="cs-image-teaser__picture" style="aspect-ratio: 233/184">
                                                                <img
                                                                    class="cs-image-teaser__image "
                                                                    alt="Holen Sie sich Gutscheine für Rabatte und viele weitere tolle Extras!"
                                                                    src="https://mcstaging.nkd.com/media/wysiwyg/pwa_guide/benefit_3_2x.png"
                                                                    width="699"
                                                                    height="552" />
                                                            </picture>
                                                            <figcaption class="cs-image-teaser__content-wrapper cs-image-teaser__content-wrapper--content-align-x-1  cs-image-teaser__content-wrapper--content-align-y-1 cs-image-teaser__content-wrapper--over ">
                                                                <div class="cs-image-teaser__content">
                                                                    <div class="cs-image-teaser__text-content">
                                                                        <p class="cs-image-teaser__slogan">Holen Sie sich Gutscheine für Rabatte und viele weitere tolle Extras!</p>
                                                                        <p class="cs-image-teaser__description">Mit unserer App können Sie auf exklusive Gutscheincodes zugreifen und zusätzliche Vorteile nutzen, die Ihr Einkaufserlebnis verbessern. Von Bonusgeschenken bis hin zu besonderen Belohnungen - es gibt immer etwas Lustiges, das auf Sie wartet.</p>
                                                                    </div>                
                                                                </div>
                                                        </figcaption>
                                                    </figure>
                                
                                                    </li>
                                                    <li class="cs-image-teaser__slide cs-image-teaser__slide--scheme-dark cs-image-teaser__slide--image-uploaded cs-image-teaser__slide--button-default">
                                                        <figure class="cs-image-teaser__figure">
                                                            <picture class="cs-image-teaser__picture" style="aspect-ratio: 107/74">
                                                                <img
                                                                    class="cs-image-teaser__image "
                                                                    alt="Sammeln Sie Punkte, um den Silberstatus zu erhalten und Sonderangebote freizuschalten."
                                                                    src="https://mcstaging.nkd.com/media/wysiwyg/pwa_guide/benefit_4_2x.png"
                                                                    width="856"
                                                                    height="592" />
                                                            </picture>
                                                            <figcaption class="cs-image-teaser__content-wrapper cs-image-teaser__content-wrapper--content-align-x-1  cs-image-teaser__content-wrapper--content-align-y-1 cs-image-teaser__content-wrapper--over ">
                                                                <div class="cs-image-teaser__content">
                                                                    <div class="cs-image-teaser__text-content">
                                                                        <p class="cs-image-teaser__slogan">Sammeln Sie Punkte, um den Silberstatus zu erhalten und Sonderangebote freizuschalten.</p>
                                                                        <p class="cs-image-teaser__description">Sammeln Sie Punkte und erreichen Sie den Silber-Status, um eine ganz neue Ebene von exklusiven Angeboten und Belohnungen freizuschalten. Mit jedem Einkauf über unsere App sammeln Sie Punkte, die Sie gegen Sonderrabatte, Gratisartikel und andere spannende Vergünstigungen einlösen können. Beginnen Sie noch heute mit dem Sammeln von Punkten.</p>
                                                                    </div>             
                                                                </div>
                                                        </figcaption>
                                                    </figure>
                                                    </li>
                                                    <li class="cs-image-teaser__slide cs-image-teaser__slide--scheme-dark cs-image-teaser__slide--image-uploaded cs-image-teaser__slide--button-default">
                                                        <figure class="cs-image-teaser__figure">
                                                            <picture class="cs-image-teaser__picture" style="aspect-ratio: 723/592">
                                                                <img
                                                                    class="cs-image-teaser__image "
                                                                    alt="Speichern Sie alle Ihre Online- und Offline-Quittungen an einem Ort."
                                                                    src="https://mcstaging.nkd.com/media/wysiwyg/pwa_guide/benefit_5_2x.png"
                                                                    width="723"
                                                                    height="592" />
                                                            </picture>
                                                            <figcaption class="cs-image-teaser__content-wrapper cs-image-teaser__content-wrapper--content-align-x-1  cs-image-teaser__content-wrapper--content-align-y-1 cs-image-teaser__content-wrapper--over ">
                                                                <div class="cs-image-teaser__content">
                                                                    <div class="cs-image-teaser__text-content">
                                                                        <p class="cs-image-teaser__slogan">Speichern Sie alle Ihre Online- und Offline-Quittungen an einem Ort.</p>
                                                                        <p class="cs-image-teaser__description">Mit unserer App können Sie alle Ihre Kaufbelege nahtlos speichern und darauf zugreifen, so dass Sie keine Papierkopien mehr benötigen und einen einfachen Zugriff auf Ihre Transaktionshistorie haben. Verabschieden Sie sich von der Unordnung und begrüßen Sie die mühelose Organisation mit unserer Belegspeicherfunktion.</p>
                                                                    </div>                   
                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cs-pwa-guide__desktop-cover">
                                <span>This page is not available for desktop users</span>
                            </div>
                        </div>
                        <div class="cs-pwa-guide__footer">
                            <div class="cs-pwa-guide__footer-left">
                                <span class="cs-pwa-guide__footer-copyrights">© NKD Group GmbH</span>
                                <ul class="cs-pwa-guide__footer-socials">
                                    <li><a class="cs-pwa-guide__footer-link-fb" href="https://www.facebook.com/nkd.friends">Facebook</a></li>
                                    <li><a class="cs-pwa-guide__footer-link-inst" href="https://www.instagram.com/nkddeutschland/">Instagram</a></li>
                                </ul>
                            </div>
                            <div class="cs-pwa-guide__footer-right">
                                <a href="https://www.nkd.com/de_de/impressum">Impressum</a> 
                                <a href="https://www.nkd.com/de_de/agb">AGB</a> 
                                <a href="https://www.nkd.com/de_de/datenschutz">Datenschutz</a>
                            </div>
                            <div class="cs-pwa-guide__footer-bottom"><a href="https://www.nkd.com/">gehen zu nkd.com</a></div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <script>
            const getMobileOperatingSystem = function () {
                var userAgent = navigator.userAgent || navigator.vendor || window.opera;

                if (/android/i.test(userAgent) && !/windows phone/i.test(userAgent)) {
                    return "android";
                }

                if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                    return "ios";
                }

                return "unknown";
            }

            if (getMobileOperatingSystem() !== 'unknown') {
                document.querySelector('.cs-pwa-guide__content-installation--' + getMobileOperatingSystem()).classList.add('show');
            }

            const benefitsTrigger = document.querySelector('.cs-pwa-guide__tabs-item--benefits');
            const installTrigger = document.querySelector('.cs-pwa-guide__tabs-item--installation');
            const benefitsContent = document.querySelector('.cs-pwa-guide__content--benefits');
            const installContent = document.querySelector('.cs-pwa-guide__content--installation');

            benefitsTrigger.addEventListener('click', function() {
                benefitsTrigger.classList.add('cs-pwa-guide__tabs-item__active');
                installTrigger.classList.remove('cs-pwa-guide__tabs-item__active');

                benefitsContent.classList.add('active');
                installContent.classList.remove('active');
            });

            installTrigger.addEventListener('click', function() {
                installTrigger.classList.add('cs-pwa-guide__tabs-item__active');
                benefitsTrigger.classList.remove('cs-pwa-guide__tabs-item__active');

                installContent.classList.add('active');
                benefitsContent.classList.remove('active');
            });
        </script>

        <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('https://mcstaging.nkd.com/de_de/service-worker.js');
            });
        }
        </script>
    </body>
</html>
